<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera Test</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/w3.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/cam.css')}}">
</head>
<body>
    <br><br>
    <div class="w3-row-padding">
        <div class="w3-half w3-card-4 w3-round-xlarge">
            <br>
            <center><div id="my_camera"></div></center>
            <input type="text" name="idno" id="idno" class="w3-input w3-border w3-margin-top" placeholder="IDNO"><br>
            <input type="text" name="lastname" id="lastname" class="w3-input w3-border w3-margin-top" placeholder="LASTNAME"><br>
            <input type="text" name="firstname" id="firstname" class="w3-input w3-border w3-margin-top" placeholder="FIRSTNAME"><br>
            <input type="text" name="course" id="course" class="w3-input w3-border w3-margin-top" placeholder="COURSE"><br>
            <input type="text" name="level" id="level" class="w3-input w3-border w3-margin-top" placeholder="LEVEL"><br>
            <button onclick="take_snapshot()" class="w3-button w3-green w3-margin-bottom">TAKE SNAPSHOT</button>
            <button onclick="save_snapshot()" class="w3-button w3-green w3-margin-bottom">SAVE SNAPSHOT</button><br><br>
        </div>
        <div class="w3-half">
            <center><div id="result"></div></center><br><br>
            <div class="w3-padding w3-border" id="myidno">IDNO</div>
            <div class="w3-padding w3-border" id="mylastname">LASTNAME</div>
            <div class="w3-padding w3-border" id="myfirstname">FIRSTNAME</div>
            <div class="w3-padding w3-border" id="mycourse">COURSE</div>
            <div class="w3-padding w3-border" id="mylevel">LEVEL</div>
        </div>
        
    </div>
    <script src="../static/js/webcam.min.js"></script>
    <script src="../static/js/myjs.js"></script>
</body>
</html>